.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
  
/*сделала отдельный класс, чтобы не описывать для каждой ссылки в проекте оформление*/
.link {
  color: #2f80ed;
  text-decoration: none;
}

.link:hover {
  opacity: .5;
  transition: .5s;
}