.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.link {
  color: #2f80ed;
  text-decoration: none;
}
/*БЛОК HEADER*/
/*объявляем шапку флекс-контейнером, чтобы позиционировать относительно него все элементы*/
.header {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin-bottom: 100px;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}
.logo_place_header {
  position: absolute;
  height: 32px;
  width: 228px;
  margin-top: 30px;
  margin-left: 64px;
  background-image: url(../images/logo_place_header.svg);
  background-size: cover;
  margin-top: 30px;
}
.header__title {
  align-self: center;
  font-weight: 600;
  font-size: 102px;
  width: 730px;
  margin-left: 64px;
  z-index: 2;
}
 .header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
}
.header__subtitle_text {
  font-size: 18px;
  font-weight: normal;
}

/*вставка стрелки вправо после ссылки*/
.link::after {
  content: "\2192";
}
.header__image {
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url(../images/header-image.png);
  background-size: cover;
  width: 765px;
  height: 608px;
  z-index: 1;
}
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  height: 568px; 
  width: 568px;
  z-index: 0;
}
.logo {
  z-index: 1;
}



/*БЛОК ОПИСАНИЕ*/
.description {
  display: flex;
  min-width: 784px;
  margin: 100px;
}

.two-colums {
  display: flex;
  justify-content: space-between;
  min-width: 80%;
  margin: 0;
  padding: 0;
}

.two-colums__brief {
  display: flex;
  justify-content: space-between;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  background-color: yellowgreen;
  
}
.two-colums__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: goldenrod;
  width: 80%;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px; 
}

.main-text-word {
  font-weight: 600;
}


/*БЛОК ФЕЙНМАН*/
.feynman {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  height: 890px;
  background-color: #f2f2f2;
}
.feynman__column {
  display: flex;
  flex-direction: column;
  margin: 0;
  z-index: 1;
}
.feynman__title {
  margin-top: 100px;
  width: 648px;
  height: 240px;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
}
.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}
.feynman__image {
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(../images/feynman.png);
  background-size: cover;
  width: 867px;
  height: 637px;
  z-index: 0;
}

.feynman__link {
  position: absolute;
  align-self: center;
  right: 48px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}

/*БЛОК ПОДВАЛ*/
.footer {
  position: relative;
  display: flex;
  flex-basis: 711px;
  background-color: #1f1f1f; 
}

.footer__columns {
  width: 90%;
}
.logo_place_footer {
  position: absolute;
  background-image: url(../images/logo_place_footer.svg);
  height: 32px;
  width: 228px;
  background-size: cover;
}